<ion-card>
  <ion-card-header>
    <ion-card-title>Loginnn</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-input
      type="text"
      label="Username"
      placeholder="Username"
      [(ngModel)]="loginData.username"
    ></ion-input>
    <ion-input
      type="password"
      label="Password"
      placeholder="Password"
      [(ngModel)]="loginData.password"
    ></ion-input>

    <ion-button (click)="login()">Login</ion-button>
    <a class="forgot-password" (click)="forgetPassword()">Forgot Password?</a>
  </ion-card-content>
</ion-card>

{{loginData | json}}
