<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info" href="/home/info">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store" href="/home/store">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan" href="/home/scan">
      <ion-icon aria-hidden="true" name="scan-circle-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employees" href="/home/employees">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Employees</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/home/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
